div#calculator {
  width: 300pt;
  font-family: "Monospace";
  font-size: 24pt;

  border: solid 1pt #888;
  padding: 5pt;
  background: #888;

  display: grid;
  grid-template-areas:
    'display display display display'
    'b7 b8 b9 divide'
    'b4 b5 b6 multiply'
    'b1 b2 b3 minus'
    'dot b0 eq plus'
  ;
}

#display {
  display: inline-block;
  grid-area: display;
  margin: 3pt;
  padding: 3pt 7pt;
  border: solid 1pt #444;
  background: #fff;
  text-align: right;
}

div#calculator button {
  display: inline-block;
  border: solid 1pt #444;
  margin: 3pt;
  padding: 1pt;
  font-size: 24pt;
  padding: 5pt;
}

div#calculator button.digit     { background: #ccc; }
div#calculator button.dot       { background: #aaa; }
div#calculator button.sign      { background: #aaa; }
div#calculator button.operation { background: #88c; }
div#calculator button.multiply  { background: #88c; }
div#calculator button.divide    { background: #88c; }
div#calculator button.equals    { background: #aac; }
div#calculator button.backspace { background: #caa; }
div#calculator button.clear     { background: #844; }
div#calculator button.erase     { background: #a44; }

